/* You can add global styles to this file, and also import other style files */

.g text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.g path:focus {
    outline: none;
}
