.axis {
    font: 10px sans-serif;
}

.dot {
    stroke: steelblue;
    fill: lightblue;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-title {
    fill: none;
    stroke: green;
    stroke-width: 0.5px;
}


.axis--x path {
    /*display: none;*/
}

.line {
    fill: none;
    stroke: cornflowerblue;
    stroke-width: 1.5px;
}

.dot {
    fill: steelblue;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.tooltip {
    text-decoration: underline;
    stroke: black;
}
