.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-title {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

.axis--x path {
    /*display: none;*/
}

.line {
    fill: none;
    stroke: cornflowerblue;
    stroke-width: 1.5px;
}

.dot {
    stroke: steelblue;
    fill: red;
    stroke-width: 1.5px;
}

.tooltip {
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    background: #4fa0cc;
    color: #fff;
}
